
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background: none;
  background-color: black;
  background-image: url('../../assets/imagenes/fondo/fondo.gif') ;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.botonCarta{
  position: relative;
  z-index: 950;
  ion-button{
    margin-top: 2%;
    margin-left: 45%;
  }
  justify-content: center;
}

.apagado{
  margin-top: 2%;
  margin-left: 2%;
  visibility: hidden;
  
}


.reiniciar{
  margin-top: 2%;
  margin-left: 2%;
}

.apagadeo ion-button:hover{
  background-color: aqua !important;
  visibility: visible;
}
.imagen{
  height: 50%;
  max-width: 100%;
  margin-left: 10%;
  ion-img{
    width: 90%;
    height: auto;
    float: left;
    
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 5px solid #000;
    outline: 15px solid #fff;
  }
  
  
}
.jugar{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  cursor: pointer;
}
.mostrar{
  margin-left: 19%;
  margin-right: auto;
  width: 55%;
  height: 100%;
}

.mezclar{
  width: 250px;
  min-height: 50px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  margin-left: 45%;
}

.grid{
  margin-top: 0;
  margin-left: 0;
  z-index: 900;
  position: absolute;
  display: grid; 
  grid-template-columns: 7.5em 7.5em 7.5em; 
  grid-template-rows: 4em 4em 4em 4em 4em 4em 4em 4em 4em; 
  gap: .7em .7em; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."; 
  height: 90%;
  ion-item{
    margin-top: 5%;
    padding: auto;
    height: 70px;
    width: 150px;
    
  }
  
}
.grid2{
  margin-top: 0;
  margin-left: 77%;
  position: absolute;  
  display: grid; 
  
  grid-template-columns: 7.5em 7.5em 7.5em; 
  grid-template-rows: 4em 4em 4em 4em 4em 4em 4em 4em 4em; 
  gap: .7em .7em; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."; 
  height: 90%;
  ion-item{
    margin-top: 5%;
    padding: auto;
    height: 70px;
    width: 150px;
    
  }
  
}

.cartaChica{
  height: 70px;
  width: 5em;
  border: 2px solid #fff;
  border-radius: 5px;
}

.ganador{
  display: flex;
  justify-content: center;
  margin: auto;
  visibility: hidden;
  opacity:0;
  transition:visibility 0.3s 0.3s ease-in,opacity 0.3s 0.3s ease-in;
}
#ganador{
  
  position: fixed;
  
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}