#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background: none;
  background-image: url('../../assets/imagenes/fondo/fondo.gif');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.botonCarta{
  position: relative;
  z-index: 950;
  ion-button{
    margin-top: 2%;
    margin-left: 45%;
  }
  justify-content: center;
}

.apagado{
  margin-top: 2%;
  margin-left: 2%;
}
.imagen{
  height: 50%;
  max-width: 100%;
  ion-img{
    width: 100%;
    height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    margin-left: 10%;
  }
}
.jugar{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  cursor: pointer;
}
.mostrar{
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 100%;
}

.mezclar{
  width: 250px;
  min-height: 50px;
  max-height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  margin-left: 30%;
}

.grid{
  margin-top: 0;
  margin-left: 0;
  z-index: 900;
  position: absolute;
  display: grid; 
  grid-template-columns: 7.5em 7.5em 7.5em; 
  grid-template-rows: 4em 4em 4em 4em 4em 4em 4em 4em 4em; 
  gap: 0.5em 0.5em; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . .";
  height: 90%;
  ion-item{
    margin-top: 5%;
    padding: auto;
    height: 70px;
    width: 150px;
    
  }
  
}
.grid2{
  margin-top: 0;
  margin-left: 70%;
  position: absolute;  
  display: grid; 
  
  grid-template-columns: 7.5em 7.5em 7.5em; 
  grid-template-rows: 4em 4em 4em 4em 4em 4em 4em 4em 4em; 
  gap: 0.5em 0.5em; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."; 
  height: 90%;
  ion-item{
    margin-top: 5%;
    padding: auto;
    height: 70px;
    width: 150px;
    
  }
  
}

